@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

.corpotodo {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
}

.topo {
  width: 100%;
  height: 92px;
  background-color: red;
  position: fixed;
  left: 0;
  top: 0;
}

.topo h1 {
  font-size: 44px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  color: #ffffff;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 21px;
}

.topo h2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 21px;
}

.PratosTopo {
  font-size: 26px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  color: #333333;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 92px;
}

.Pratos,
.Bebidas,
.Sobremesas {
  display: flex;
  overflow-x: scroll;
}

.prato,
.bebida,
.sobremesa {
  width: 172px;
  height: 216px;
  margin-left: 20px;
  background-color: #ffffff;
  margin-top: 17px;
  border-radius: 5px;
  box-sizing: border-box;
}

.imgprato {
  margin: 18px 14px 8px 14px;
  border-radius: 5px;
  width: 144px;
  height: 87px;
}

.nomeprato {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.descrição {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
}

.preço {
  margin-left: 14px;
  margin-right: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.BebidaTopo,
.SobremesaTopo {
  font-size: 26px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  color: #333333;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
}

.Sobremesas {
  margin-bottom: 92px;
  padding-bottom: 20px;
}

.Finalizar {
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.FinalDiv {
  box-sizing: border-box;
  width: 88%;
  height: 61px;
  margin: 15px auto 0 auto;
  border-radius: 50px;
  background-color: #cbcbcb;
}

.textofinal {
  text-align: center;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;

}
